
<ul  class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="home" >Home</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="pipe" >Pipes</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="about" >AboutUs</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" routerLink="user" >User</a>
  </li>
</ul>

<h1 changeColor>Welcome to Custom Directive</h1>
<h1 highlight>Welcome to my Custom Directive for highlight</h1>

<router-outlet></router-outlet>